@import "compass";
* {
    @include global-reset;
    @include box-sizing(border-box);
    font-family: Verdana, "Courier New", "Lucida Console";
    font-weight: normal;
    background-color: black;
    color: #FFF;
}
@font-face {
    font-family: "digital";
    src: url('fonts/../../polices/DS-DIGI.ttf') format('truetype');
}
@font-face {
    font-family: "digitalB";
    src: url('fonts/../../polices/DS-DIGIB.ttf') format('truetype');
}
/*------------------------------------*\
   				horloge
\*------------------------------------*/

horloge {
    position: absolute;
    right: 10px;
    top: 0px;
    text-align: center;
}
.horloge_heure {
    font-family: 'digital';
    font-size: 230px;
}
.horloge_heure span {
    font-family: 'digitalB';
    font-size: 150px;
    vertical-align: middle;
}
.invisible {
    color: black;
}
/*------------------------------------*\
    		fin style horloge
\*------------------------------------*/

/*------------------------------------*\
    			date
\*------------------------------------*/

date {
    position: absolute;
    right: 20px;
    top: 230px;
    text-align: center;
    font-size: 50px;
}
.jour, .annee {
    color: #888;
    font-size: inherit;
    margin-top: -20px;
}
/*------------------------------------*\
    		fin style date
\*------------------------------------*/

/*------------------------------------*\
    			Meteo
\*------------------------------------*/

meteojour, meteos {
    text-align: center;
    z-index: 1;
}
meteojour .meteo, meteos .meteo {
    float: left;
    width: 203px;
    height: 225px;
    border-right: 1px dotted grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}
meteojour .meteo .jourMeteo, meteos .meteo .jourMeteo {
    display: inline-block;
    text-align: right;
    font-size: 18px;
}
meteojour .meteo .tempJ, meteos .meteo .tempJ {
    float: left;
    text-align: left;
    margin-top: 5px;
    font-size: 40px;
    width: 100%;
}
meteojour .meteo .imageMeteo, meteos .meteo .imageMeteo {
    width: 150px;
    height: 103px;
    float: right;
}
meteojour .meteo .temp, meteos .meteo .temp {
    float: right;
    width: 40px;
    height: 103px;
}
meteojour .meteo .max, meteos .meteo .max {
    float: left;
    width: 100%;
    font-family: "Times New Roman";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
meteojour .meteo .min, meteos .meteo .min {
    margin-top: 10px;
    float: left;
    font-family: "Times New Roman";
    width: 100%;
    font-size: 20px;
    color: #C0C0C0;
    text-align: center;
}
meteojour .meteo .libMeteo, meteos .meteo .libMeteo {
    font-family: "Times New Roman";
    float: left;
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}
meteojour .meteo .vent, meteos .meteo .vent {
    float: left;
    margin-right: 5px;
}
meteojour .meteo .ventLib, meteos .meteo .ventLib {
    float: left;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: 6px;
    margin-left: 5px;
}
meteojour .meteo .sensVent, meteos .meteo .sensVent {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
meteojour .meteo .separ, meteos .meteo .separ {
    float: left;
    border-right: 1px dotted #FFFFFF;
    height: 25px;
    width: 2px;
    margin-left: 10px;
}
meteojour .meteo .humidite, meteos .meteo .humidite {
    float: left;
    margin-left: 15px;
    margin-top: 2px;
}
meteojour .meteo .humidLib, meteos .meteo .humidLib {
    float: left;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: 6px;
    margin-left: 10px;
}
.chargement {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    width: 198px;
    border-right: 1px dotted grey;
}
/*------------------------------------*\
    		fin Style meteo
\*------------------------------------*/